<!DOCTYPE html>
<html>
<head>

    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}main.css" rel="stylesheet">
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>

    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}

    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>


    <title></title>
</head>

<body>
   <div style="text-align: center">
       <form action="" method="post">
           {% csrf_token %}
           <label>Login</label>
           <input name="login" type="text">
           <label>Password</label>
           <input name="password" type="password">
           </br>
           <button type="submit" class="btn btn-success">Login</button>
       </form>
   </div>
</body>
</html>